{
  "openapi": "3.0.3",
  "info": {
    "title": "StopModReposts Sites API",
    "description": "API for retrieving lists of websites that redistribute mods illegally. Supports multiple formats including JSON, XML, YAML, and various blocklist formats.",
    "version": "1.0.0",
    "contact": {
      "name": "StopModReposts",
      "url": "https://stopmodreposts.org"
    }
  },
  "servers": [
    {
      "url": "https://api.stopmodreposts.org",
      "description": "Production server"
    }
  ],
  "paths": {
    "/sites.json": {
      "get": {
        "summary": "Get sites (JSON)",
        "operationId": "getSitesJson",
        "responses": {
          "200": {
            "description": "A list of flagged sites in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                },
                "example": [
                  {
                    "domain": "example.com",
                    "notes": "/",
                    "path": "/",
                    "reason": "Illegal redistribution"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/{game}/sites.json": {
      "get": {
        "summary": "Get sites for a specific game (JSON)",
        "operationId": "getGameSitesJson",
        "parameters": [
          {
            "$ref": "#/components/parameters/game"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of flagged sites for the specified game",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites.xml": {
      "get": {
        "summary": "Get sites (XML)",
        "responses": {
          "200": {
            "description": "XML formatted site list",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SitesXml"
                }
              }
            }
          }
        }
      }
    },
    "/{game}/sites.xml": {
      "get": {
        "summary": "Get sites for a specific game (XML)",
        "parameters": [
          {
            "$ref": "#/components/parameters/game"
          }
        ],
        "responses": {
          "200": {
            "description": "XML formatted site list",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SitesXml"
                }
              }
            }
          }
        }
      }
    },
    "/sites.yaml": {
      "get": {
        "summary": "Get sites (YAML)",
        "responses": {
          "200": {
            "description": "YAML formatted site list",
            "content": {
              "text/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{game}/sites.yaml": {
      "get": {
        "summary": "Get sites for a specific game (YAML)",
        "parameters": [
          {
            "$ref": "#/components/parameters/game"
          }
        ],
        "responses": {
          "200": {
            "description": "YAML formatted site list",
            "content": {
              "text/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites.txt": {
      "get": {
        "summary": "Get raw domain list",
        "responses": {
          "200": {
            "description": "Plain text list of domains",
            "content": {
              "text/plain": {
                "example": "example.com\nexample.net"
              }
            }
          }
        }
      }
    },
    "/{game}/sites.txt": {
      "get": {
        "summary": "Get raw domain list for a specific game",
        "parameters": [
          {
            "$ref": "#/components/parameters/game"
          }
        ],
        "responses": {
          "200": {
            "description": "Plain text list of domains",
            "content": {
              "text/plain": {
                "example": "example.com\nexample.net"
              }
            }
          }
        }
      }
    },
    "/hosts.txt": {
      "get": {
        "summary": "Get hosts file",
        "responses": {
          "200": {
            "description": "Hosts file format (0.0.0.0 domain)",
            "content": {
              "text/plain": {
                "example": "0.0.0.0 example.com\n0.0.0.0 example.net"
              }
            }
          }
        }
      }
    },
    "/{game}/hosts.txt": {
      "get": {
        "summary": "Get hosts file for a specific game",
        "parameters": [
          {
            "$ref": "#/components/parameters/game"
          }
        ],
        "responses": {
          "200": {
            "description": "Hosts file format",
            "content": {
              "text/plain": {
                "example": "0.0.0.0 example.com"
              }
            }
          }
        }
      }
    },
    "/ublacklist.txt": {
      "get": {
        "summary": "Get uBlacklist format",
        "responses": {
          "200": {
            "description": "uBlacklist compatible subscription list",
            "content": {
              "text/plain": {
                "example": "*://*.example.com/*\n*://*.example.net/*"
              }
            }
          }
        }
      }
    },
    "/{game}/ublacklist.txt": {
      "get": {
        "summary": "Get uBlacklist for a specific game",
        "parameters": [
          {
            "$ref": "#/components/parameters/game"
          }
        ],
        "responses": {
          "200": {
            "description": "uBlacklist format",
            "content": {
              "text/plain": {
                "example": "*://*.example.com/*"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "game": {
        "name": "game",
        "in": "path",
        "required": true,
        "description": "The identifier of the game (e.g., 'minecraft')",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Site": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "example": "example.com"
          },
          "notes": {
            "type": "string",
            "description": "Additional information. '/' indicates no notes.",
            "example": "/"
          },
          "path": {
            "type": "string",
            "description": "Specific path on the domain to be blocked.",
            "example": "/"
          },
          "reason": {
            "type": "string",
            "example": "Illegal redistribution"
          }
        }
      },
      "SitesXml": {
        "type": "object",
        "xml": {
          "name": "sites"
        },
        "properties": {
          "site": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Site"
            }
          }
        }
      }
    }
  }
}